
actDetect.jsonl
actDetect.txt
actionDetection.jsonl
actDetect_prepared.jsonl
actionDetection2.jsonl
actionDetection.txt
actionDetection2.txt
actionDetection_prepared_valid.jsonl
actionDetection_prepared_train.jsonl
reject.txt
reject.jsonl
reject_prepared_train.jsonl
r.txt
reject_prepared_valid.jsonl
synonyms.txt
synonyms_prepared.jsonl
synonyms.jsonl
synonyms_valid.jsonl
nouns.txt
numbers.txt
not.jsonl
names.txt
not_prepared_train.jsonl
not_prepared_valid.jsonl
numbers_prepared.jsonl
